@import url(https://use.typekit.net/efj7gzu.css);

* {
	box-sizing:border-box;
}

body {
	font-family:"Calibri Light",Verdana,sans-serif;
	padding:64px;
	margin:0;
	background-color:#1e345d;
	color:white;
}

h1,h2,h3,h4,h5,h6 {
	font-family:trajan-pro-3,serif;
	text-shadow:3px 3px 8px black;
}

p {
	font-weight:100;
	font-style:normal;
	font-size:1.3em;
}

a {
	color:inherit;
	font:inherit;
	text-decoration:underline;
}

a:hover {
	font-weight:bold;
}

article section {
	padding:8px 0;
	margin-bottom:16px;
} 

article h2,h3,h4,h5,h6 {
	margin:0;
}

article p {
	margin:0;
}

button {
	padding:4px 6px;
	background-color:rgba(0,0,0,0.05);
	border:3px #000000 solid;
	border-radius:4px;
	font:inherit;
}

button:hover {
	background-color:rgba(0,0,0,0.15);
	cursor:pointer;
}

.hidden {
	display:none;
}

.centre {
	text-align:center;
}

#longcatShowDiv:not(.hidden) {
	width:75.375px;
	height:39px;
	display:inline-block;
}

#longcatShowDiv:hover {
	cursor:pointer;
}

.longcat {
	background-image:url('../img/long_cat.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.longcatimg {
	margin-top:32px;
}

.longcatimg img {
	width:50%;
	display:inline-block;
}

.longcatfooter span {
	display:inline-block;
	width:100%;
}

.longcatfooter a {
	display:block;
	width:100%;
	margin:auto;
	color:inherit;
	text-decoration:inherit;
	font:inherit;
}

.longcatfooter a:hover {
	font-weight:bold;
}

.shreak {
	background-image:url('../img/shreak.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flashgame {
	display:block;
	margin:auto;
	border:5px solid rgba(255,255,255,0.1);
}