* {
	box-sizing:border-box;
}

body {
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	padding:64px;
	background-color:rgb(30,52,93);
	color:rgb(255,255,255);
}

article section {
	padding:8px;
	margin-bottom:16px;
} 

article h2 {
	margin:0;
}

article p {
	margin:0;
}

button {
	padding:4px 6px;
	background-color:rgba(0,0,0,0.05);
	border:3px #000000 solid;
	border-radius:4px;
	font:inherit;
}

button:hover {
	background-color:rgba(0,0,0,0.15);
	cursor:pointer;
}

.hidden {
	display:none;
}

#longcatShowDiv:not(.hidden) {
	width:75.375px;
	height:39px;
	display:inline-block;
}

#longcatShowDiv:hover {
	cursor:pointer;
}

.longcat {
	background-image:url('../img/long_cat.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.longcatimg {
	margin-top:32px;
}

.longcatimg img {
	width:50%;
	display:inline-block;
}

.shreak {
	background-image:url('../img/shreak.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}
