@import url(https://use.typekit.net/efj7gzu.css);

* {
	box-sizing:border-box;
}

body {
	font-family:"Calibri Light",Verdana,sans-serif;
	padding:64px;
	margin:0;
	background-color:#1e345d;
	color:white;
}

h1,h2,h3,h4,h5,h6 {
	font-family:trajan-pro-3,serif;
	text-shadow:3px 3px 8px black;
}

h1 {font-size:3em;}
h2 {font-size:2em;}
h3 {font-size:1.7em;}

p {
	font-weight:100;
	font-style:normal;
	font-size:1.6em;
}

a {
	color:inherit;
	font:inherit;
	text-decoration:underline;
}

a:hover {
	font-weight:bold;
	text-shadow:2px 2px 2px black;
}

article section {
	padding:8px 0;
	margin-bottom:64px;
}

article section.introduction {
	text-align:center;
	margin-bottom:96px;
}

article h2,h3,h4,h5,h6 {
	margin:0;
}

article p {
	margin:0;
}

article img {
	display:inline-block;
	width:40%;
	border-radius:10px;
	box-shadow:4px 4px 4px rgba(0,0,0,0.5);
}

article .sectiontext_right {
	display:inline-block;
	width:55%;
	margin-left:16px;
	vertical-align:top;
}

article .sectiontext_left {
	display:inline-block;
	width:55%;
	margin-right:16px;
	vertical-align:top;
}

button {
	padding:4px 6px;
	background-color:rgba(0,0,0,0.05);
	border:3px #000000 solid;
	border-radius:4px;
	font:inherit;
}

button:hover {
	background-color:rgba(0,0,0,0.15);
	cursor:pointer;
}

.hidden {
	display:none;
}

.centre {
	text-align:center;
}