* {
	box-sizing:border-box;
}

html {
	background-color:#A0BFB3;
	padding:64px;
}

body {
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	margin:0;
}

article section {
	padding:8px;
	margin-bottom:16px;
} 

article h2 {
	margin:0;
}

article p {
	margin:0;
}

button {
	padding:4px 6px;
	background-color:rgba(0,0,0,0.05);
	border:3px #000000 solid;
	border-radius:4px;
	font:inherit;
}

button:hover {
	background-color:rgba(0,0,0,0.15);
	cursor:pointer;
}

.longcat {
	background-image:url(../img/long_cat.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.hidden {
	display:none;
}